form {
    border: 1px solid #808080;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
}

label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    span {
        margin-right: 10px;
    }
}

.form__input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    min-width: 220px;
    margin-bottom: 10px;
}

.form__input_error {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    min-width: 220px;
    margin-bottom: 10px;
    border: 2px solid #ff0000;
    box-sizing: border-box;
}

.form__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form__button {
    margin: 0;
    margin-left: 40px;
}

.table__danger {
    color: #ff0000;
}
